Day 2

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading1'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse1' role='button' aria-expanded='false' aria-controls='collapse1'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse003' class='collapse' role='tabpanel' aria-labelledby='heading1' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Musala peak (2925m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>06:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>11 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>770 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>770 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

DAy 3

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse002' role='button' aria-expanded='false' aria-controls='collapse002'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse002' class='collapse' role='tabpanel' aria-labelledby='heading002' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Rila Lakes (2110m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>03:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>8 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>450 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>450 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

Day 4

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse003' role='button' aria-expanded='false' aria-controls='collapse003'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse003' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Vihren peak (2914m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>10:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>16 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1280 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>1280 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

Day 5

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse004' role='button' aria-expanded='false' aria-controls='collapse004'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse004' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Spilios Agapitos (2100 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>03:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>9 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1050 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>120 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

Day 6

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse005' role='button' aria-expanded='false' aria-controls='collapse005'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse005' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Mytikas (2918m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>11:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>17 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1320 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>2100 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

