Day 2

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading1'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse1' role='button' aria-expanded='false' aria-controls='collapse1'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse003' class='collapse' role='tabpanel' aria-labelledby='heading1' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Hajla (2403 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>04:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>18 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>650 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>1280 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>4</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

DAy 3

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse002' role='button' aria-expanded='false' aria-controls='collapse002'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse002' class='collapse' role='tabpanel' aria-labelledby='heading002' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Hridski krš (2358 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>06:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>18 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>890 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>890 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>2</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

Day 4

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse003' role='button' aria-expanded='false' aria-controls='collapse003'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse003' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Plana (2211m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>07:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>20 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1490 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>1490 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>N/A</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

Day 5

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse004' role='button' aria-expanded='false' aria-controls='collapse004'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse004' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Talijanka (2056 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>04:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>12 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>960 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>960 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>2</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

Day 6

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse005' role='button' aria-expanded='false' aria-controls='collapse005'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse005' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Vasojevića Kom (2460 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>04:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>9 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>700 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>700 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>1</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

Day 7
<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse006' role='button' aria-expanded='false' aria-controls='collapse006'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse006' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>01:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>3.5 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>
