<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='headingOne'>
	     <h5 class='mb-0' style='border-bottom: 1px solid #708090; width:100%; padding-bottom: 5px;'>
	       <a data-toggle='collapse' href='#collapseOne' role='button' aria-expanded='false' aria-controls='collapseOne' style='color:#708090;'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapseOne' class='collapse' role='tabpanel' aria-labelledby='headingOne' data-parent='#accordion'>
	     <div class='card-body'>
	       <table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Titov Vrh (2747 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>07:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>19km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1270 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>1270 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>1 on start</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>

DIF I -
<i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i>

DIF II -
<i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i>

DIF III - 
<i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i>

DIF IV - 
<i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle-o' aria-hidden='true'></i>

DIF V - 
<i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i><i class='fa fa-circle' aria-hidden='true'></i>






Day 3
<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='headingTwo'>
	     <h5 class='mb-0' style='border-bottom: 1px solid #708090; width:100%; padding-bottom: 5px;'>
	       <a data-toggle='collapse' href='#collapseTwo' role='button' aria-expanded='false' aria-controls='collapseTwo' style='color:#708090;'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapseTwo' class='collapse' role='tabpanel' aria-labelledby='headingTwo' data-parent='#accordion'>
	     <div class='card-body'>
			<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Korab (2764 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>07:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>17 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1370 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>1370 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>1 in start and mountain spring</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
		</div>
	   </div>
   </div>
</div>

Day 4

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading3'>
	     <h5 class='mb-0' style='border-bottom: 1px solid #708090; width:100%; padding-bottom: 5px;'>
	       <a data-toggle='collapse' href='#collapse3' role='button' aria-expanded='false' aria-controls='collapse3' style='color:#708090;'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse3' class='collapse' role='tabpanel' aria-labelledby='heading3' data-parent='#accordion'>
	     <div class='card-body'>
	     	<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Golem Krčin (2354 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>07:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>17 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1360 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>1360 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>2</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>



Day 6

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading4'>
	     <h5 class='mb-0' style='border-bottom: 1px solid #708090; width:100%; padding-bottom: 5px;'>
	       <a data-toggle='collapse' href='#collapse4' role='button' aria-expanded='false' aria-controls='collapse4' style='color:#708090;'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse4' class='collapse' role='tabpanel' aria-labelledby='heading4' data-parent='#accordion'>
	     <div class='card-body'>
	     	<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Magaro (2255 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>04:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>11 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>700 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>700 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>1</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>



Day 7

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading5'>
	     <h5 class='mb-0'>
	       <a data-toggle='collapse' href='#collapse5' role='button' aria-expanded='false' aria-controls='collapse5' style=''>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse5' class='collapse' role='tabpanel' aria-labelledby='heading5' data-parent='#accordion'>
	     <div class='card-body'>
     		<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>HIGHEST POINT</td><td class='text-center'>Baba - Pelister (2601 m)</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>06:30</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>19 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>ASCENT</td><td class='text-center'>1270 m</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DESCENT</td><td class='text-center'>1310 m </td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>WATER SPRINGS</td><td class='text-center'>4</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>



Day 8

<div class='accordion' role='tablist'>
	<div class='card'>
	   <div class='card-header' role='tab' id='heading6'>
	     <h5 class='mb-0' style='border-bottom: 1px solid #708090; width:100%; padding-bottom: 5px;'>
	       <a data-toggle='collapse' href='#collapse6' role='button' aria-expanded='false' aria-controls='collapse6' style='color:#708090;'>Statistics for the day ...<span style='float:right;'>&#x25BE;</span></a>
	     </h5>
	   </div>
	   <div id='collapse6' class='collapse' role='tabpanel' aria-labelledby='heading6' data-parent='#accordion'>
	     <div class='card-body'>
	       	<table class='table table-bordered table-hover trek-table'>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DURATION OF THE TRAIL</td><td class='text-center'>01:00</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>TRAIL LENGTH</td><td class='text-center'>3.5 km</td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>DIFFICULTY OF THE TRAIL</td><td class='text-center'></td></tr>
				<tr><td class='col-md-3' style='background-color:#708090; color: white;'>REQUIRED FITNESS LEVEL</td><td class='text-center'></td></tr>
			</table>
	     </div>
	   </div>
   </div>
</div>




[{
"dolomia_content_trek_content_1":"MACEDONIA",
"dolomia_content_trek_content_2":"Day 1",
"dolomia_content_trek_content_3":"Day 2",
"dolomia_content_trek_content_4":"Day 3",
"dolomia_content_trek_content_5":"Day 4",
"dolomia_content_trek_content_6":"Day 5",
"dolomia_content_trek_content_7":"Day 6",
"dolomia_content_trek_content_8":"Day 7",
"dolomia_content_trek_content_9":"Day 8"
},{
"dolomia_content_trek_content_1":"DIFFICULTY GRADE",
"dolomia_content_trek_content_2":"-",
"dolomia_content_trek_content_3":"B/C",
"dolomia_content_trek_content_4":"B/C",
"dolomia_content_trek_content_5":"B/C",
"dolomia_content_trek_content_6":"-",
"dolomia_content_trek_content_7":"B",
"dolomia_content_trek_content_8":"B/C",
"dolomia_content_trek_content_9":"-"}]









