i.icon{
vertical-align: unset !important;
}
.vg_fixed{
width: 100%;
display: inline-block;
}
#page-content.header-static #flexslider.flexslider-custom{
height: auto !important;
}
#page-content #flexslider.flexslider-custom, #page-content #flexslider-nav.flexslider-custom {
height: 80px !important;
}
.logged-in #main-wrap #header{
top: 32px;
}
.form-submit #submit{
padding: 0px 30px !important;
}
.screen-reader-text {
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
overflow: hidden;
position: absolute !important;
width: 1px;
}
.wp-caption-text {
color: #707070;
color: rgba(51, 51, 51, 0.7);
font-family: "Noto Sans", sans-serif;
font-size: 12px;
font-size: 1.2rem;
line-height: 1.5;
padding: 0.5em 0;
}
.widget .gallery-caption {
line-height: 1.4583;
padding: 0.5833em 0;
}
.bypostauthor > article .fn:after {
top: 7px;
left: 6px;
}
.children{
margin-left: 16.66666667%;
width: 83.33333333%;
}
.btn-alt:hover {
background-color: #CBBD9A;
color: white;
transition: all .4s ease;
}
.btn-alt {
height: 40px;
line-height: 40px;
font-weight: 400;
text-transform: none;
background-color: transparent;
border: 1px solid #CBBD9A;
color: #CBBD9A;
transition: all .4s ease;
text-transform: uppercase;
border-radius: 2px;
padding-right: 30px;
padding-left: 30px;
text-align: center;
font-size: 12px;
letter-spacing: 1px;
font-family: "Roboto", sans-serif;
display: inline-block;
overflow: hidden;
outline: none;
}
#home-wrap #news .news-items .single-news .padding-leftright-null .image{
height: 311px;
} aside.sidebar .widget-wrapper .widget_categories h4{
text-transform: uppercase;
position: relative;
letter-spacing: 0;
font-size: 16px;
line-height: 32px;
font-weight: 100;
color: #2F2911;
margin-bottom: 18px;
}
aside.sidebar .widget-wrapper .widget_categories li a{
color: #6E6B66;
font-family: "Trirong", serif;
font-size: 14px;
line-height: 34px;
letter-spacing: 0;
margin-bottom: 9px;
font-weight: 300;
}
#post-wrap #share .share-btn i{
margin-left: auto;
}
.trek-map iframe{
width: 100%;
}
.hiker ul li a i{
margin-top: 13px; 
margin-left: auto;
} .custom-slider .vc_column_container>.vc_column-inner, .custom-fullpage-wrap .vc_column_container>.vc_column-inner, .custom-testimonials .vc_column-inner{
box-sizing: border-box;
padding-left: 0 !important;
padding-right: 0 !important;
width: 100%;
} #home-wrap .wpb_row .custom-news .vc_column-inner .single-news{
height: 450px;
}
#home-wrap .wpb_row .custom-news .vc_column-inner .single-news .article .padding-leftright-null{
height: auto;
display: inline-grid;
} #home-wrap #team .vc_column_container .vc_column-inner .wpb_wrapper .single-person .content .social a i{
padding-top: 12px;
padding-right: 2px;
} #page-wrap .custom_gallery{
display: grid;
}
#page-wrap .custom_gallery .vc_column_container .vc_column-inner, #page-wrap .custom-map .vc_column_container .vc_column-inner{
box-sizing: border-box;
padding-left: 0 !important;
padding-right: 0 !important;
width: 100%;
} #page-wrap .custom-map {
display: grid;
} #page-content .custom-carousel{
padding-bottom: 25px !important;
} #page-content .custom-showcase .vc_column_container .vc_column-inner{
box-sizing: border-box;
padding-left: 0 !important;
padding-right: 0 !important;
width: 100%;
} #main-wrap #page-content #flexslider-nav .slider-navigation .flex-next .ion-ios-arrow-thin-right{
padding-right: 40px;
} #main-wrap #header #menu-classic .menu-holder .search{
margin-top: -25px;
display: inline-block;
position: absolute;
margin-left: 30px;
cursor: pointer;
}
#main-wrap #header #menu-classic .menu-holder .search{
font-size: 20px;
line-height: 16px;
} .full-width .container .padding-leftright-null .widget_nav_menu .menu-footer-menu-1-container ul li, .full-width .container .padding-leftright-null .widget_nav_menu .menu-footer-menu-2-container ul li{
color: #d1d2d3;
font-family: "Trirong", serif;
font-size: 14px;
line-height: 24px;
font-weight: 300;
}
.full-width .container .padding-leftright-null .widget_nav_menu .menu-footer-menu-1-container ul li a, .full-width .container .padding-leftright-null .widget_nav_menu .menu-footer-menu-2-container ul li a{
color: #d1d2d3;
font-family: "Trirong", serif;
font-size: 14px;
line-height: 24px;
margin-bottom: 16px;
font-weight: 300;
} .full-width .container .no-margin .padding-leftright-null .widget_newsletterwidget .tnp-widget{
padding-top: 15px;
}
.full-width .no-margin .padding-leftright-null .widget_newsletterwidget .tnp-widget form .tnp-field-email label{
border: none;
border-radius: 3px;
outline: inherit;
padding: 11px 50px 11px 9px;
font-family: "Montserrat", sans-serif;
font-size: 14px;
display: none;
position: absolute;
color: #776B66;
}
.full-width .no-margin .padding-leftright-null .widget_newsletterwidget .tnp-widget form .tnp-field-email .tnp-email{ border: none;
border-radius: 3px;
outline: inherit;
padding: 11px 50px 11px 9px;
font-family: "Montserrat", sans-serif;
font-size: 14px;
}
.full-width .no-margin .padding-leftright-null .widget_newsletterwidget .tnp-widget form .tnp-field-button{
margin-top: -50px;  margin-left: 233px;
}
}
.full-width .no-margin .padding-leftright-null .widget_newsletterwidget .tnp-widget form .tnp-field-button .tnp-submit{
position: absolute;
width: 80px;
height: 40px;
right: 0;
top: 0px;
font-size: 12px;
font-family: "Montserrat", sans-serif;
text-transform: uppercase;
letter-spacing: 1px;
line-height: 38px;
color: white;
border-radius: 0 2px 2px 0;
background-color: #CBBD9A;
text-align: center;
transition: all .4s ease;
}  .widget_calendar {float: none;}
#wp-calendar {width: 100%; }
#wp-calendar caption { 
background: none repeat scroll 0 0 #E9E9E9;
color: #333333;
font-size: 16px;
padding: 10px 0;
text-align: center; 
}
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th {
border: 1px solid #E9E9E9;
font-size: 13px;
padding: 8px 0;
text-align: center;
vertical-align: middle;
}
#wp-calendar tbody { 
color: #aaa; 
}
#wp-calendar tbody td { 
background: #f5f5f5; 
border: 1px solid #E9E9E9;
text-align: center;
padding:6px;
}
#wp-calendar tbody td#today {
background: #ffba00;color: #fff;
}
#wp-calendar tbody td:hover { 
background: #fff; 
}
#wp-calendar tbody .pad { 
background: none; 
}
#wp-calendar tfoot {
border: 1px solid #E9E9E9;
}
#wp-calendar tfoot #next { 
font-size: 12px; 
text-transform: uppercase; 
text-align: right; color: #ffba00;
}
#wp-calendar tfoot #prev { 
font-size: 12px; 
text-transform: uppercase; 
padding-top: 10px; color: #ffba00;
}
.widget select {
max-width: 100%;
padding: 5px;
border: 1px solid #ccc;
width: 100%;
}
.widget_text .textwidget img{
max-width: 100%;height: auto;
}
.widget_text select, 
.widget_text input ,
.widget_text textarea  {
max-width: 100%;
padding: 5px;
border: 1px solid #ccc; 
width: 100%;
}
.widget_text option {
max-width: 100%;
}
.widget_text .textwidget form.wpcf7-form input[type="submit"]{
width: auto !important;
padding: 0 20px !important;
}
.widget_nav_menu ul li, .widget_pages ul li {
color: #827b7d;
line-height: 28px;
font-size: 13px;
}
.widget_nav_menu ul li ul, 
.widget_pages ul li ul {
padding-left: 15px;
}
.content-section.fullpage-wrap .custom-page ul{
padding-left: 20px;
list-style-type: square;
margin-left: 30px;
list-style: decimal;
padding-left: 28px;
font-family: "Roboto", sans-serif;
color: #888B8D;
font-size: 14px;
line-height: 24px;
letter-spacing: 1px;
font-weight: 100;
margin: 0px 0px 0px 30px !important;
}
.content-section.fullpage-wrap .custom-page ul li{ 
list-style: inherit;
}
.content-section.fullpage-wrap .custom-page ol li{ 
list-style: circle;
}
#content.meta ul ul,
.blog-desc ul ul {    
list-style-type: decimal;
}
#content .meta ul ul ul,
.blog-desc ul ul ul{    
list-style-type: decimal;
}
.hentry ol{
padding-left: 20px;
list-style: circle !important;
margin: 0px 0px 0px 30px !important;
}
.hentry ol li{ 
list-style: circle;
}
#post-wrap ol,#post-wrap ul,#comments ol,#comments ul{ 
margin-top: 0px !important;
}
#post-wrap ul,#comments ul{
margin-bottom: 0px !important;    
}
#post-wrap ul{ list-style-type: circle;
}
#comments ul{
list-style: decimal !important;
padding-left: 28px;
}
#comments ol{
list-style: circle !important;
padding-left: 28px;
}
#comments ol li{
list-style: circle !important;
padding-bottom: 0px !important;
}
#comments ul li{
padding: 0px !important;
list-style: decimal !important;
}
.blog-post ul li ul, 
.blog-post ol li ol,
.blog-fixed ul li ul  {
margin-bottom: 0;
margin-left: 1.25em;
}
.blog-post h1, 
.blog-post h2, 
.blog-post h3, 
.blog-post h4, 
.blog-post h5, 
.blog-post h6 {
text-align: left;
}
blockquote {
margin: 0 0 20px;
padding: 9px 20px 10px 19px;
}
blockquote cite {
color: #ccc;
display: block;
font-size: 12px;
}
div.wp-caption.alignnone,
img.alignnone,
.blog-fixed div.wp-caption.alignnone img ,
.blog-post div.wp-caption.alignnone img {
width: 100% !important;
height: auto;
}
div.wp-caption.alignnone img{
max-width: 100%;
height: auto;
}
.alignright,.alignleft,
.aligncenter,
div.alignleft img,
div.alignright img{
width: auto !important;
}
.alignright{
float: right;
}
.aligncenter{
text-align: center;
}
.alignleft{
float: left;
margin-right: 15px;
margin-bottom: 15px;
}
.aligncenter img{
width: auto !important;
}
.sticky .featured-post {
border-top: 4px double #ededed;
border-bottom: 4px double #ededed;
color: #757575;
font-size: 15px !important;
height: auto;
width: 100%;
display: inline-block;
line-height: 3.692307692;
margin-bottom: 1.714285714rem;
text-align: center;
}
ul.custom-scroll li.menu-item-has-children ul.sub-menu {
display: none !important;
}
ul.custom-scroll li.menu-item-has-children:hover ul.sub-menu {
display: block !important;
position: absolute;
list-style: none;
top: 60px;
padding-left: 0px;
}
ul.custom-scroll li.menu-item-has-children:hover ul.sub-menu li a{
background: #efefef;
border-bottom: 1px solid #ededed;
display: block;
font-size: 15px;
line-height: 4.181818;
padding: 0.571429rem 0.714285714rem;
color: #6a6a6a;
white-space: nowrap;
width: 100%;
}
ul.custom-scroll li.menu-item-has-children:hover ul.sub-menu li a:hover{
background: #e3e3e3;
color: #444;
text-decoration: none;
}
ul.custom-scroll li.menu-item-has-children:hover ul.sub-menu li.menu-item-has-children ul.sub-menu{
display: none !important;
}
ul.custom-scroll li.menu-item-has-children:hover ul.sub-menu li.menu-item-has-children:hover ul.sub-menu{
display: block !important;
}
.widget ul li{
line-height: 30px;
width: 100%;
}
.widget ul.sub-menu{    
padding: 10px !important;
}
#wp-calendar tfoot #prev,#wp-calendar tfoot #next{
background: #f5f5f5;
border: 1px solid #E9E9E9;
text-align: center;
padding: 6px;
}
div.gallery{
display: none;
}
div.author-box img{
width: auto !important;
}
ul.comment-list li{
list-style: none;
}
div.tagcloud a{
font-size: 15px !important;
}
div#error-page .vertical-line{
height:90px !important;
}
h2.big {
font-size: 60px ;
line-height: 64px ;
font-weight: 100;
font-family: "Roboto", sans-serif;
margin-bottom: 50px ;
}
.widget_archive ul li{
display: -webkit-box;
}
.widget_categories ul li a{
display: initial;
}
ul.children{
padding-left: 15px !important;
list-style: none;
}
.widget_text p strong{
font-weight: 400;
opacity: 0.6;
}
label.screen-reader-text{
display: none;
}
.custom-blog h2,.blog-fixed h2 {
color: #343434;
padding-top: 30px;
text-align: left;
}
.custom-blog h1,.blog-fixed h1 {
color: #343434;
padding-top: 30px;
text-align: left;
}
.custom-blog h3,.blog-fixed h3 {
color: #343434;
padding-top: 30px;
text-align: left;
}
.custom-blog h4,.blog-fixed h4 {
color: #343434;
padding-top: 30px;
text-align: left;
}
.custom-blog h5,.blog-fixed h5 {
color: #343434;
text-align: left;
}
.custom-blog h6,.blog-fixed h6 {
color: #343434;
padding-top: 30px;
text-align: left;
}
div.page table,.custom-table-post table{
border-collapse: collapse;
border-spacing: 0;
font-size: 14px;
line-height: 2;
margin: 0 0 20px;
width: 100%;
}
.post-password-form input[type=submit]{
padding: 0;
padding-right: 10px;
padding-left: 10px;
line-height: 30px;
overflow: hidden;
outline: none;
border: none;
border-radius: 0;
font-weight: bold;
color: white;
position: relative;
background: #2C55D5;
transition: all .4s ease;
}
.custom-comment h3{
margin-top: 0px !important;
padding-top: 0px !important;
}
.parallax_window_in_test{
height: 150px;
}
ul.list-inline {
margin-left: 0px !important;
padding-left: 0px !important;
}
@media screen and (max-width: 620px) { .comment img{
width: 70px !important;
height: 70px !important;
}
ul.children{
padding-left: 0px !important;
}
}
@media screen and (max-width: 600px) {
body.logged-in #header_1{
top: 0px !important;
}
.comment-reply-link{
position: relative;
display: inline-block;
margin-top: 10px;
margin-right: 25px;
float: right;
}
}
a.custom-text-logo {
width: auto !important;
height: auto !important;
color: black !important;
text-indent: 0 !important;
}
.widget-custom ul.sub-menu,.widget-custom ul.children{
padding-left: 15px !important;
}
.widget-custom ul{
padding-left: 0px !important;
list-style: none;
}
.widget-custom {
padding-bottom: 40px;
}
@media only screen and (max-width: 991px){
.main-menu ul li.menu-item-has-children ul{
display: block !important;
visibility: inherit !important;
}
#comments ul.children{
margin-left: 0px !important;
padding-left: 5px !important;
}
}
.widget-footer{
display: inline-block;
}
.widget-footer.widget_text,.widget-footer.widget_tag_cloud a,.widget-footer.widget_categories,.widget-footer.widget_archive{
color: black !important;
}
.post-content table tbody tr th,#comments table tbody tr th{
width: 20%;
}
.post-content table tbody tr td,#comments table tbody tr td{
width: 20%;
}
.media img {
width: auto !important;
} div.flexslider-custom ,ul.slides-custom{
height: 80px !important;
}
.image-thumnail-empty{
background: gray;
}
.widget-wrapper ul li a{
color: #6E6B66;
font-family: "Trirong", serif;
font-size: 14px;
line-height: 34px;
letter-spacing: 0;
margin-bottom: 9px;
font-weight: 300;
}
.widget-wrapper ul li a:hover,.widget cite,.widget span.rss-date{
color: #CBBD9A !important;
} .widget #wp-calendar thead th{
background-color: white !important;
}
.widget #wp-calendar tbody td {
background: #f5f5f5 !important;
}
.widget ul li a{
color: white;
font-family: "Trirong", serif;
font-size: 14px;
line-height: 34px;
letter-spacing: 0;
margin-bottom: 9px;
font-weight: 300;
}
footer .rssSummary,.widget p,.widget strong,.widget ul li{
color: white;
}
.widget ul li a:hover{
color: #CBBD9A !important;
}
#logo h3.site-title{
white-space: nowrap;
}    
.nav-right span{
color: black;
} @media screen and (max-width: 600px) {
nav.navbar #menu-classic.open .menu-holder ul li.submenu ul.sub-menu {
left: 0% !important;
}
.logged-in #main-wrap > header.fixed.transparent.full-width.animated.fixed-top.fadeInDown{
top: 0px !important;
margin-top: 0px !important;
}
.logged-in #main-wrap > header.fixed.transparent.full-width{
top: 56px !important; 
}
#menu-classic ul li.menu-item-has-children ul{
display: block !important;
}
#menu-classic ul li.menu-item-has-children ul li.menu-item-has-children ul{
display: none !important;
}
#menu-classic ul li.menu-item-has-children:hover ul li.menu-item-has-children:hover ul{
display: block !important;
}
#menu-classic ul li.menu-item-has-children ul li{
display: inline-block;
width: 100%;
text-align: left !important;
}
nav.navbar #menu-classic.open {
top: 125px !important;
}
}
#menu-classic ul li.menu-item-has-children ul li.menu-item-has-children ul{
display: none !important;
}
#menu-classic ul li.menu-item-has-children:hover ul li.menu-item-has-children:hover ul{
display: block !important;
left: 112% !important;
top: 0px !important;
}
#post-wrap .col-md-12.padding-onlytop-md.padding-leftright-null ul li,#post-wrap .col-md-12.padding-onlytop-md.padding-leftright-null ul li em strong{
font-family: "Trirong", serif;
color: #6E6B66;
}
.custom-page-content{
padding-top: 50px;
}
ul.page-notfound li.notfound-first{
background-image: url(//balkanhiking.com/wp-content/themes/dolomia/style.css?ver=2017/06/assets/img/404.jpg);
}
ul.slides li h1.white a{
color: white !important;
}
.page-content-nonfooter{
margin-bottom: 0px !important;
}
.post-password-form input[type=submit]{
height: 31px;
font-weight: 400;
text-transform: none;
background-color: transparent;
border: 1px solid #CBBD9A;
color: #CBBD9A;
transition: all .4s ease;
text-transform: uppercase;
border-radius: 2px;
padding-right: 30px;
padding-left: 30px;
text-align: center;
font-size: 12px;
letter-spacing: 1px;
font-family: "Roboto", sans-serif;
display: inline-block;
overflow: hidden;
outline: none;
}
.post-password-form input[type=submit]:hover{
background-color: #CBBD9A;
color: white;
transition: all .4s ease;
}
.nav-tabs li.active a {
background: transparent !important;
}
blockquote p{
color: white !important;
}    
footer .widget_nav_menu ul.sub-menu li a{
white-space: nowrap;
}
@media screen and (max-width: 480px) and (max-width: 991px){
header nav.navbar #menu-classic.open {
top: 80px !important;
}
}
@media screen and (max-width: 991px){
header nav.navbar #menu-classic.open .menu-holder ul li.submenu ul.sub-menu,header nav.navbar #menu-classic.open .menu-holder ul li.submenu {
display: block !important;
}
.tagcloud a {
border-color: #dadada;
background-color: transparent;
margin-bottom: 10px;
white-space: normal;
padding: 4px 15px;
border: 1px solid #dadada;
border-radius: 2px;
margin: 0px 5px 10px 5px;
display: inline-block;
}
.tagcloud a:hover {
color: white !important;
border-color: #ff7f00;
background-color: #ff7f00 !important;
}
@media screen and (max-width: 480px) {
.comment .content{
padding-left: 0px !important;
}
.comment .comment-btn{
width: 100%;    
display: inline-block;
}
a.comment-reply-link{
float: left;
}
.custom-img{
display: inline-block;
width: 100%;
}
}
@media screen and (max-width: 767px){
header nav.navbar #menu-responsive-classic.open .menu-button .bar {
background-color: #2F2911 !important;
}
}